/* img {
    width: 400px;
    height: 400px;
}

.highlight {
  color: white;
  background-color: black;
  padding: 10px;
  width: 250px;
  text-align: center;
}

.firstDiv {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.newButton {
  color: red;
}

.hide {
  display: none;
} */

.anotherParagraph {
  display: none;
}

.afterParagraph {
  display: none;
}

.lastParagraph {
  display: none;
}